/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

*
{
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section 
{
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,canvas,video 
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) 
{
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] 
{
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html 
{
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body 
{
	margin: 0;
	font-family:Segoe UI Light;
	background-color:#f2f7f7;
	color:#444444;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

button,input,select,textarea
{
    font-family:MS Sans Serif;
}

h1,h2,h3
{
	color:#444444;
	font-weight:normal;
}

a,a:visited
{
	color:#3160ea;
	text-decoration:none;
}
a:hover
{
	color:#000000;
	
}
a
{
	margin:0;
	padding:0;
}
/*-----------------------------------------------------------------------------------*/



header,#footer-content
{
	background:url('images/header_background.jpg');
	min-width:1024px;
}

	#title
	{
		padding:1px 0px 0px 150px;
		min-width:1024px;
		margin-top:-18px;
	}
	#title h1
	{
		margin-top:30px;
	}
	#title h3
	{
		float:left;
		margin-top:5px;
		margin-left:78px;
	}
	#navigation
	{
		float:right;
		margin-top:-6px;
	}
	#navigation ul
	{
		list-style:none;
		margin-top:0px;
		display:inline;
		text-align:left;
	}
	#navigation ul li
	{	
		display:inline-block;
		padding:10px 32px;
		font-size:110%;
	}
	#navigation li:hover
	{
		background-color:#f7f2f2;
	}
	
	
	
#main-container
{
	width:1024px;
	margin-top:85px;
	margin-left:auto;
	margin-right:auto;
}
	#content h1,#content h3,#content ul,#content p
	{
		margin-top:20px;
	}
	#content ul
	{
		padding-left:20px;
	}
	#content
	{
		max-width:70%;
		height:100%;
		float:left;
	}
	
	aside
	{
		width:25%;
		float:right;
		text-align:justify;
		margin:-3px 0px 0px 50px;
	}

footer
{
	margin-top:15px;
}

	footer ul
	{
		list-style:none;
		margin-top:0px;
		display:inline;
		text-align:left;
	}
	footer ul li
	{	
		display:inline-block;
		padding:10px 22px;
	}
	footer ul#social,footer p,.fb-like
	{
		float:right;
		margin-right:10px;
	}
	 footer p
        {
		padding-top:5px;
    }
    .fb-like
        {
		padding-top:15px;
    }
	footer ul#social li img
	{
		width:24px;
		height:24px;
	}