/*
 /* Corrects block display not defined in IE6/7/8/9 & FF3
 */

*
{
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section 
{
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,canvas,video 
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) 
{
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] 
{
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html 
{
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body 
{
	margin: 0;
	font-family:Segoe UI Light;
	background-color:#ffffff;
	color:#444444;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

button,input,select,textarea
{
    font-family:MS Sans Serif;
}

h1,h2,h3,h4
{
	color:#444444;
	font-weight:normal;
}

a,a:visited
{
	color:#3160ea;
	text-decoration:none;
}
a:hover
{
	color:orange;
}
a
{
	margin:0;
	padding:0;
}
/*-----------------------------------------------------------------------------------*/

header
{
	background:url('images/man1.png') no-repeat;
	background-position:left bottom;
	background-color:#ebeeee;
}
#main-container
{
	background:url('images/handstand_text.jpg') no-repeat;
	background-position:right bottom;
	background-color:#ebeeee;
}
#navigation
{
	background-color:#dbdede;
	padding:10px 0px 10px;
	min-width:1369px;
	position:fixed;
}
#navigation ul
{
	list-style:none;
	display:inline;
}
#navigation ul li
{
	display:inline;
	padding:10px 70px;
	border-left-style:solid;
	border-color:#cbcece;
	border-width:1px;
}
#navigation ul img
{
	margin:-7px 5px -7px -7px;
}
#navigation li:hover
{
	background-color:#ebeeee;
}
header,#main-container
{
	min-width:1060px;
	padding:40px;
}

header h1
{
	margin-top:40px;
}
header img
{
	padding-top:50px;
	margin-left:50px;
}
#title
{
	max-width:290px;
	padding-left:50px;
	float:left;
}
#title h2
{
	padding-left:30px;
}
#main-container
{
	padding-top:60px;
	padding-bottom:30px;
}
#left-bar
{
	width:190px;
	float:left;	
	margin-right:50px;
	border-right-style:solid;
	border-width:1px;
	border-color:#cbcece;
	padding-right:8px;
}
#left-bar ul#quick,#left-bar ul#uploads
{
	list-style:none;
}
#left-bar ul#uploads
{
	margin-top:10px;
}
#left-bar li,hr
{
	margin-top:15px;
}
#left-bar ul#news
{
	list-style:none;
	margin-top:40px;
}

#content h1,#content h3,#content ul,#content p
{
	margin-top:20px;
}
#content ul
{
	padding-left:20px;
	list-style-image:url('images/arrow.png');
}
#content ul li
{
	padding-top:5px;
}
#content
{
	width:56%;
	height:100%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	text-align:justify;

}
footer
{
	background-color:#ebeeee;
}
#footer-content
{
	min-width:1024px;
	background-color:#dbdede;
}
footer ul
{
	list-style:none;
	margin-top:0px;
	display:inline;
	text-align:left;
}
footer ul li
{	
	display:inline-block;
	padding:10px 22px;
}
footer ul#social,footer p,.fb-like
{
	float:right;
	margin-right:10px;
}
footer p
{
	padding-top:5px;
}
.fb-like
{
	padding-top:15px;
}
.fb-facepile
{
	margin-top:25px;
}
footer ul#social li img
{	
	width:24px;
	height:24px;
}
