/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

*
{
margin:0;
padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section 
{
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,canvas,video 
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) 
{
    display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] 
{
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html 
{
    font-size: 100%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-text-size-adjust: 100%; /* 3 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body 
{
	margin: 0;
	font-family:Segoe UI Light;
	background-color:#f7f2f2;
	color:#444444;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

button,input,select,textarea
{
    font-family:MS Sans Serif;
}

h1,h2,h3
{
	color:#444444;
	font-weight:normal;
}

a,a:visited
{
	color:#3160ea;
	text-decoration:none;
}
a:hover
{
	color:#000000;
	
}
a
{
	margin:0;
	padding:0;
}
/*-----------------------------------------------------------------------------------*/



header,footer
{
	background:url('images/header_background.jpg');
	min-width:1024px;
}

	#title
	{
		padding:1px 0px 0px 150px;
		min-width:1024px;
		margin-top:-18px;
	}
	#title h1
	{
		margin-top:30px;
	}
	#title h3
	{
		float:left;
		margin-top:5px;
		margin-left:78px;
	}
	#navigation
	{
		float:right;
		margin-top:-6px;
	}
	#search
	{
		display:block;
		margin:-35px 0px 13px 28px;
	}
	#navigation ul
	{
		list-style:none;
		margin-top:0px;
		display:inline;
		text-align:left;
	}
	#navigation ul li
	{	
		display:inline-block;
		padding:10px 32px;
		font-size:110%;
	}
	#navigation li:hover
	{
		background-color:#f7f2f2;
	}
	
	
	
#main-container
{
	min-width:1024px;
	margin-top:85px;
	padding-left:158px;
}
	#tiles
	{
		max-width:70%;
		height:100%;
		float:left;
	}
	.base-tile
	{
		float:left;
		width:211px;
		height:265px;
		margin:0px 20px 0px 0px;
	}
	.base-tile a:hover div
	{
		opacity:0.4;
	}
	.blue-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#174ce7;
		background:-webkit-gradient(linear,left top,left bottom,from(#174ce7) ,to(#2d5dee));
		background:-moz-linear-gradient(top,#174ce7,#2d5dee));
		opacity:0.3;
	}
	.green-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#055902;
		background:-webkit-gradient(linear,left top,left bottom,from(#055902) ,to(#29a82b));
		background:-moz-linear-gradient(top,#055902,#29a82b));
		opacity:0.3;
	}
	.red-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#c1000b;
		background:-webkit-gradient(linear,left top,left bottom,from(#c1000b) ,to(#ec0411));
		background:-moz-linear-gradient(top,#c1000b,#ec0411));
		opacity:0.3;
	}
	.orange-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#ca2a01;
		background:-webkit-gradient(linear,left top,left bottom,from(#ca2a01) ,to(#e63103));
		background:-moz-linear-gradient(top,#ca2a01,#e63103));
		opacity:0.3;
	}
	.grey-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#55524b;
		background:-webkit-gradient(linear,left top,left bottom,from(#55524b) ,to(#767369));
		background:-moz-linear-gradient(top,#55524b,#767369));
		opacity:0.3;
	}
	.mustard-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#978305;
		background:-webkit-gradient(linear,left top,left bottom,from(#978305) ,to(#dda809));
		background:-moz-linear-gradient(top,#978305,#dda809));
		opacity:0.3;
	}
	.turquoise-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#028f91;
		background:-webkit-gradient(linear,left top,left bottom,from(#028f91) ,to(#03b1b3));
		background:-moz-linear-gradient(top,#028f91,#03b1b3));
		opacity:0.3;
	}
	.indigo-tile
	{
		min-height:130px;
		margin-bottom:5px;
		background-color:#370b62;
		background:-webkit-gradient(linear,left top,left bottom,from(#370b62) ,to(#481877));
		background:-moz-linear-gradient(top,#370b62,#481877));
		opacity:0.3;
	}
	aside
	{
		width:25%;
		float:right;
		text-align:justify;
		margin:-3px 50px 0px 0px;
	}

	
	
	footer ul
	{
		list-style:none;
		margin-top:0px;
		display:inline;
		text-align:left;
	}
	footer ul li
	{	
		display:inline-block;
		padding:10px 22px;
	}
	footer ul#social,footer p
	{
		float:right;
		margin-right:10px;
	}
	footer ul#social li img
	{
		width:24px;
		height:24px;
	}